{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/base.jinja' %}

{% block title %}

    All Teams

{% endblock %}


{% block content %}

    <h1>Meet the teams</h1>


    <article>

        <ul>
            {% for team in teams %}

                <li>
                    <a href="/team/{{ team.code }}">
                        {{ team.name }}
                    </a>
                </li>

            {% else %}

                <p>None!</p>

            {% endfor %}
        </ul>

    </article>


    <article>

        <h3>Add a New Team</h3>

        <form action="/add-team" method="POST" enctype="multipart/form-data">
            <fieldset>

                <input
                    type="text"
                    name="name"
                    placeholder="The team name"
                    required
                >

                <input
                    type="text"
                    name="code"
                    placeholder="The team code (3 letters)"
                    required
                    maxlength="3"
                    minlength="3"
                >

                <input
                    type="text"
                    name="description"
                    placeholder="A short description"
                    required
                >

                <input
                    type="text"
                    name="website"
                    placeholder="The Team Website"
                    required
                >


                <input
                    type="file"
                    name="image"
                    accept=".jpeg,.jpg,.png,.avif,.gif,.svg"
                    required
                >

                <button>Add Team!</button>

            </fieldset>
        </form>

    </article>

{% endblock %}



